.head{
    color: blue;
    text-align: center;
}
.col{
    margin: 200px;
    display: flex;
    flex-direction: column;
    display: 2px solid black;
    height: 10000px;
    width: 10000px;
}
.row,.colu{
    display: flex;
    flex-direction: row;
}
.col div{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin: 5px;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.green{
    background: green;
}
.yell{
    background: yellow;
}